<h2>Employment Rate</h2>

<div class="numerator">
	<span class="inner"><p><input type="text" value="{{numNonInstitution}}" /><span class="caption">#Employed</span></p></span>
</div> 
<div class="divisor-container"><div class="divisor-line"></div> X 100 = <input type="text" value="{{numEmployed+numUnemployed/numNonInstitution}}" /></div>    
<div class="denominator">
	<span class="inner">
		<div class="parenthesis">(</div>
		<p><input type="text" value="{{numEmployed}}" /><span class="caption">#Employed</span></p> 
		<span class="plus-sign">+</span> 
		<p><input type="text" value="{{numUnemployed}}" /><span class="caption">#Unemployed</span></p>
		<div class="parenthesis">)</div>
	</span>	
	<div class="top-caption">#Labor Force</div>
</div>