.level-4-container {
	@include clearfix;
	position: relative;
	.correct-popover, .incorrect-popover, .instruction-popover {
	    top: 270px;
	    left: 110px;
	}
}

.level-4-main-header {
	@include font(24px, 18px);
	position: absolute;
	top: 42px;
	left: 50px;
}
.level-4-graph-container {
	float: left;
	height: 535px;
	width: 685px;
	padding: 100px 42px 20px 5px;
	position: relative;
	.unemployment-graph {
		position: relative;
	}
	.month-dial-popover , .detail-popover {
	    @include popover($darkGrey, $white);
	    display: block;
	    width: 300px;
	    position: absolute;
	    border-radius: 0;
	    h3 {
	    	@include font(18px, 24px, #fff);
	    	font-family: 'open_sansregular';
	    }
	    &.left .arrow, &.right .arrow {
			/*top: 75%;*/
		}
	    &.right .arrow:after {
	        border-right-color: $darkGrey;
	    }
	    &.left .arrow:after {
	        border-left-color: $darkGrey;
	    }
	    &.top .arrow:after {
	        border-top-color: $darkGrey;
	    }
	    &.bottom .arrow:after {
	        border-bottom-color: $darkGrey;
	    }  
	}
	.detail-popover {
		width: 310px;
		.detail-popover-piechart-container {
			float: left;
			width: 50%;
			.detail-popover-piechart {
				margin: 15px 0 10px 0;
			}
			.unemp-rate {
				@include font(24px, 30px);
				text-align: center;
				&.blue { 
					color: $lightBlue;
				}
				&.purple { 
					color: $lightPurple;
				}
				&.green { 
					color: $lightGreen;
				}
			}
			.percentage-label {
				@include font(16px, 20px, #fff);
				font-family: 'open_sanslight';
				text-align: center;
				margin-bottom: 10px;
			}
		}
	}
	.month-dial-popover {
		width: 270px;
	    h3 {
	 		margin-bottom: 16px;
	    }
		p {
			height: 24px;
			margin: 0 0 25px 0;
			@include font(16px, 24px, #fff);
		}
		.order-num {
			font-size: 20px;
	    	background: #fff;
	    	border: 2px solid black;
			display: inline-block;
	    	height: 27px;
	    	margin: 0 10px 0 0;
	    	position: relative;
	    	text-align: center;
	    	width: 27px;
	    	.line-style {
				background-size: contain;
				display: block;
				height: 5px;
				position: absolute;
				width: 27px;
				bottom: -10px;
				left: -2px;
	    	}
			&.blue { 
				color: $blue;
				.line-style {
					background-image: url('../img/month-dial-popover_line-style_3.png');
					background-color: $lightBlue;
				}  
			}
			&.purple { 
				color: $purple;
				.line-style {
					background-image: url('../img/month-dial-popover_line-style_2.png');
					background-color: $lightPurple;
				}  
			}
			&.green { 
				color: $green;
				.line-style {
					background-color: $lightGreen;
				}  
			}
	    }
	    .unemp-rate {
	    	display: inline-block;
	    	margin-right: 14px;
	    	text-align: right;
	    	width: 42px;
	    	&.blue { color: $lightBlue; }
			&.purple { color: $lightPurple; }
			&.green { color: $lightGreen; }
	    }
	    .month, .year {
	    	text-transform: capitalize;
	    }
	}
}
.level-4-grid-container {
	float: left;
	height: 535px;
	width: 685px;
	padding: 100px 0 20px 47px;
	position: relative;
}
.level-4-periods {
	float: left;
	height: 535px;
	width: 312px;
	overflow: hidden;
	header {
		height: 71px;
		padding-top: 8px;
	}
	.switch-view-button-label {
		@include font(16px, 24px);
		float: right;
		margin-top: 5px;
	}
	.switch-view-button {
		background-size: 33px;
		background-color: transparent;
		background-repeat: no-repeat;
		background-size: 33px;
		float: right;
		height: 33px;
		margin-left: 8px;
		text-indent: -9999px;
		width: 33px;
		display: inline-block;
		cursor: pointer;
	}	
	.graph-view-button {

		/*background: transparent url('../img/graph_view_inactive.png') top left / 33px no-repeat;*/
		&.active {
			background-image: url('../img/graph_view_active.png');
		}	
		&.inactive {
			background-image: url('../img/graph_view_inactive.png');
		}	
	}
	.grid-view-button {
		background-size: 33px;
		/*background: transparent url('../img/grid_view_inactive.png') top left / 33px no-repeat;*/
		&.active {
			background-image: url('../img/grid_view_active.png');
		}	
		&.inactive {
			background-image: url('../img/grid_view_inactive.png');
		}	
	}
	.period-select-container {
		@include font(15px, 18px);
		height: 377px;
		overflow-y: scroll;
		.period {
			height: 45px;
			border-bottom: 2px solid $white;
			cursor: pointer;
			.order-num {
				border: 2px solid #000;
				display: block;
				float: left;
				height: 18px;
				line-height: 15px;
				margin: 13px 9px 0;
				position: relative;
				text-align: center;
				width: 18px;
				.line-style-icon {
					background-size: 18px 3px;
					background-repeat: no-repeat;
					background-color: transparent;
					bottom: -8px;
					display: block;
					height: 3px;
					left: -2px;
					position: absolute;
					width: 18px;
				}
				.line-style-purple {background-image: url('../img/level_4_selected_period_line_style_1.png');}
				.line-style-green {background-image: url('../img/level_4_selected_period_line_style_2.png');}
				.line-style-blue {background-image: url('../img/level_4_selected_period_line_style_3.png');}
			}
			.period-name {width: 260px;}
			&.purple {background-color: $purple; color: $white;}
			&.blue {background-color: $blue; color: $white;}
			&.green {background-color: $green; color: $white;}
		}
	}
	.period-select-header {
		background: $grey;
		height: 35px;
		margin-bottom: 2px;
		h2 {
			@include font(21px, 21px);
			float: left;
			margin: 0;
			padding: 5px 0 0 12px;
			width: 280px;
		}
		.open-collapse-button {
			@include font(21px, 26px);
			background: $white;
			display: block;
			float: left;
			height: 26px;
			margin-top: 5px;
			text-align: center;
			width: 26px;
			&.collapse:before{
				content:"-";
			}
			&.expand:before{
				content:"+";
			}
		}
	}
}
.level-4-question-area {
    padding: 19px 16px 40px 65px;
    width: 100%;
    .question-area-indicator {
        margin-top: 5px;
	}
    .question {
        width: 810px;
	    ul {
	        @include font(14px, 16px);
	        font-family: 'open_sanssemibold';
	        padding-left: 1px;
	        input {
	            position: relative;
	            bottom: 2px;
	            margin: 0 6px 0 0;
	        }
	    }
    }
}

.data-table-container {
	.comparison-header {
		@include font(18px, 25px, $darkGrey);
		font-weight: bold;
		text-align: center;
	}
	thead {
		tr {
			background-color: $grey;
		}
	}
	th {
		border: 4px solid $white;
		height: 42px;
	}
	tr {

	}
	td {
		border: 4px solid $white;
		height: 25px;
	}
	.month-picker {
		padding: 0;
		.prev-month, .next-month{
			display: block;
			float: left;
			height: 25px;
			line-height: 25px;
			width: 30px;
			text-align: center;
			cursor: pointer;
		}
		.horiz-caret {
		    border-bottom: 4px solid transparent;
		    border-top: 4px solid transparent;
		    display: inline-block;
		    height: 0;
		    width: 0;
		}
		.left-caret {
		    border-right: 4px solid #000000;
		}
		.right-caret {
		    border-left: 4px solid #000000;
		}
		.white-space {
			display: block;
			float: left;
			height: 100%;
			width: 4px;
			background-color: $white;
		}
		.dropdown {
			float: left;
			height: 100%;
			.dropdown-toggle {
				@include font(16px, 25px, $darkGrey);
				width: 159px;
				height: 100%;
				border: 2px solid #000;
				padding-left: 10px;
				position: relative;
				text-align: left;
				background: $white;
			}
			.caret {
				float: right;
				margin-top: 10px;
				margin-right: 10px;
			}
		}
	}
	.selection-num {
		text-align: center;
		width: 86px;
	}
	.date {
		width: 145px;
	}
	.unemp-rate {
		text-align: center;
		width: 142px;
	}
	.lfp-rate {
		text-align: center;
		width: 157px;
	}
	tr.even {
		background-color: $lightGrey;
	}
}