@mixin popover($background: $white, $textColor: $darkGrey) {
    background: $background;
    color: $textColor;
    &.right .arrow:after {
        border-right-color: $background;
    }
    &.left .arrow:after {
        border-left-color: $background;
    }
    &.top .arrow:after {
        border-top-color: $background;
    }
    &.bottom .arrow:after {
        border-bottom-color: $background;
    }    
}

.level-2 .non-institution .circle {
    border: $circleBorderWidth solid $darkGrey;
}

.level-2 .labor-force .circle {
    border: $circleBorderWidth solid $green;
}

.level-2 .not-labor-force .circle {
    border: $circleBorderWidth solid $lightGreen;
}

.level-2 .employed .circle {
    border: $circleBorderWidth solid $blue;
}

.level-2 .unemployed .circle,.level-2 .friction .circle,
.level-2 .structure .circle,.level-2 .cyclic .circle
 {
    border: $circleBorderWidth solid $lightBlue;
}

.level-2-pie-charts {
    .pie-charts-main-header {
        @include font(21px, 24px);
        font-family: $semibold;
        padding: 16px;
        margin: 0 0 5px 0;
        box-shadow: 5px 6px 6px -7px;
        background-color: #eee;
    }
    .pie-chart-container {
        text-align: center;
    }
    .pie-chart-title {
        @include font(18px, 24px);
        font-family: 'open_sansbold';
        display: block;
        margin: 0;
        padding: 0;
    }
    .legend-label {
      @include font(14px, 16px);
    }
}

.level-2-response-field {
    width: 30px;
}

.popover {
    max-width: none;
}

.popover-close-button {
    position: absolute;
    top: -12px;
    right: -12px;
}

.popover .alert-icon {
    float: left;
    margin: 5px 14px 0 5px;
}

.incorrect-answer-popover {
    @include popover($red, $white);
    display: block;
    width: 500px
}

[rel=popover][data-color=darkGrey] + .popover {
    @include popover($darkGrey);
}

[rel=popover][data-color=white] + .popover {
    @include popover($white);
}

.equation-tool {
    text-align: center;
    max-width: 400px;
    width: 400px;
    h2 {
        @include font(18px, 22px);
        font-family: 'open_sanssemibold';
        width: 270px;
        text-align: center;
        margin: 0 0 10px 0;
    }
    .top-caption, .bottom-caption {
        @include font(12px, 12px);
        margin: 0 0 4px 0;
        width: 270px;
        float: left;    
    }
    .numerator, .denominator {
        width: 270px;
        position: relative;
        float: left;
        .inner { 
            display: inline-block;
        }
    }
    .divisor-container {
        width: 100%;
        float: left;
        margin: -15px 0 5px;
        .divisor-line {
            width: 260px;
            height: 2px;
            background: $darkGrey;
            margin: 17px 0 0;
            float: left;
        }
    }
    .parenthesis, .plus-sign {
        width: 10px;
        @include font(24px, 24px);
        float: left;
    }
    .plus-sign {
        margin: 0 5px;
    }
    p { float: left; 
        position: relative; 
        width: 110px; 
        text-align: center;
        margin: 0;
        padding: 0;
    }
    input {
        width: 66px;
        height: 32px;
        border: 1px solid #000;
        margin: 0 0 5px 0;
        padding: 0;
        background: $grey;
    }
    .caption {
        display: inline-block;
        @include font(12px, 14px);
        margin: 0;
        padding: 0;
    }
}

.scenario-radio-buttons-container {
    margin: 20px 20px 0 0;
    float: left;
    .scenario-category-header {
        float: left;
        min-width: 150px;
    }
    .scenario-category-label {
        float: left;
        font-family: 'open_sansbold';
        @include font(14px, 16px);
        margin: 0 10px 5px 0;
    }
    .info-button {
        border: 0; 
        display: block;
        float: left;
        height: 25px;
        width: 25px;
        background: transparent url('../img/info_icon.png') no-repeat top left / 25px 25px;
        overflow: visible;
        position: relative;
    }
    ul {
        @include font(14px, 16px);
        font-family: 'open_sanssemibold';
        width: 150px;
        padding-left: 1px;
        input {
            position: relative;
            bottom: 2px;
            margin: 0 6px 0 0;
        }
    }
}

.question .choose-one-instruction {
    @include font(16px, 18px);
    font-family: 'open_sansregular';
}
.question .round-instruction{
    @include font(16px, 18px);
    font-family: 'open_sansregular';
}

