
.level-4-graph {
	float: left;
	height: 535px;
	width: 690px;
}
.level-4-periods {
	float: left;
	height: 535px;
	width: 334px;
	.period-select-container {
		@include font(15px, 18px);
		height: 377px;
		overflow-y: scroll;
		width: 312px;
		.period {
			height: 45px;
			border-bottom: 2px solid $white;
			.order-num {
				border: 2px solid #000;
				display: block;
				float: left;
				height: 16px;
				margin: 13px 9px 0;
				width: 16px;
			}
		}
		.vert-center-wrapper {
			height: 100%;
			width: 260px;
			float: left;
		}
		.vert-center-wrapper:before {
		  content: '';
		  display: inline-block;
		  height: 100%; 
		  vertical-align: middle;
		  /*margin-right: -0.25em;  Adjusts for spacing */
		  /*background: #808080; width: 5px;*/
		 }
		 .vert-center {
		 	display: inline-block;
			vertical-align: middle;
			width: 259px;
		 }
	}
	.periods-header {
		background: $grey;
		height: 35px;
		margin-bottom: 2px;
		width: 312px;
		h2 {
			@include font(21px, 21px);
			float: left;
			margin: 0;
			padding: 10px 0 0 12px;
			width: 280px;
		}
		.open-collapse-button {
			@include font(21px, 26px);
			background: $white;
			display: block;
			float: left;
			height: 26px;
			margin-top: 5px;
			text-align: center;
			width: 26px;
		}
	}
}
.level-4-question-area {
    padding: 19px 16px 40px;
    background: #f3f3f3;
    box-shadow: inset 1px 4px 9px -6px;
    float: left;
    min-height: 172px;
    width: 100%;
    position: relative;
    .question-area-indicator {
        width: 52px;
        float: left;
    }
    .question {
        @include font(18px, 22px);
        width: 600px;
        float: left;
        & > p {
            margin-bottom: 14px;
        }
	    ul {
	        @include font(14px, 16px);
	        font-family: 'open_sanssemibold';
	        padding-left: 1px;
	        input {
	            position: relative;
	            bottom: 2px;
	            margin: 0 6px 0 0;
	        }
	    }
    }
}