.level-2-response-field {
    width: 30px;
}
@mixin popover($background: $white, $textColor: $darkGrey) {
    background: $background;
    color: $textColor;
    &.right .arrow:after {
        border-right-color: $background;
    }
    &.left .arrow:after {
        border-left-color: $background;
    }
    &.top .arrow:after {
        border-top-color: $background;
    }
    &.bottom .arrow:after {
        border-bottom-color: $background;
    }    
}
.popover-close-button {
    position: absolute;
    top: -12px;
    right: -12px;
}
.popover .alert-icon {
    float: left;
    margin: 5px 14px 0 5px;
}

.incorrect-answer-popover {
    @include popover($red, $white);
}

[rel=popover][data-color=darkGrey] + .popover {
    @include popover($darkGrey);
}

[rel=popover][data-color=white] + .popover {
    @include popover($white);
}