
.level-3-secondary-header {
	background: $grey;
	border-bottom: 1px solid #c8c8c8;
	box-shadow: inset 1px 4px 9px -6px;
	height: 49px;
	overflow: visible;
	position: relative;
	z-index: 1000;
	.dropdown {
		float: left;
		height: 25px;
		margin: 15px 15px 0 20px;
		width: 218px;
	}
	h2 {
		@include font(24px, 30px, $darkGrey);
		position: absolute;
		bottom: -42px;
		left: 240px; 
	}
}

.dropdown {
	.dropdown-toggle {
		@include font(16px, 25px, $darkGrey);
		background: $white;
		border: 2px solid #000;
		height: 100%;
		padding-left: 10px;
		position: relative;
		text-align: left;
		width: 100%;
	}
	.caret {
		float: right;
		margin-top: 10px;
		margin-right: 10px;
	}
}

.view-control {
	margin: 7px 22px;
}

.view-button-label {
	@include font(16px, 24px);
	float: right;
	margin-top: 5px;
}

.view-button {
	background-size: 33px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 33px;
	cursor: pointer;
	display: inline-block;
	float: right;
	height: 33px;
	margin-left: 8px;
	text-indent: -9999px;
	width: 33px;
}	

.table-view-button {
	background-image: url('../img/icon-table-view-off.png');
	&.on {
		background-image: url('../img/icon-table-view-on.png');
	}	
	&.inactive {
		background-image: url('../imgicon-table-view-inactive.png');
	}	
}

.graph-view-button {
	background-image: url('../img/icon-graph-view-off.png');
	&.on {
		background-image: url('../img/icon-graph-view-on.png');
	}	
	&.inactive {
		background-image: url('../imgicon-graph-view-inactive.png');
	}	
}

.main-content-area {
	width: 1024px;
	height: 530px;
}

.level-3-map-container {
	position: relative;
	.level-3-month-slider {
		position: absolute;
		top: 460px;
		left: 90px;
		z-index: 10000;
	}
}

.level-3-table-container {
	> table {
		width: 418px;
		margin: 64px 0 0 180px;
		float: left;
	}
	.repeated-data-row-container {
		overflow: -moz-scrollbars-vertical; 
		overflow-y: scroll;
		height: 306px;
		width: 100%;
		table {
			width: 100%;
		}
	}
	.comparison-header {
		@include font(18px, 25px, $darkGrey);
		font-weight: bold;
		text-align: center;
	}
	thead {
		tr {
			background-color: $grey;
		}
	}
	th {
		border: 4px solid $white;
		height: 32px;
	}
	tr {

	}
	td {
		border: 4px solid $white;
		height: 25px;
	}
	.month-picker {
		padding: 0;
		.prev-month, .next-month{
			display: block;
			float: left;
			height: 25px;
			line-height: 25px;
			width: 30px;
			text-align: center;
			cursor: pointer;
		}
		.horiz-caret {
		    border-bottom: 4px solid transparent;
		    border-top: 4px solid transparent;
		    display: inline-block;
		    height: 0;
		    width: 0;
		}
		.left-caret {
		    border-right: 4px solid #000000;
		}
		.right-caret {
		    border-left: 4px solid #000000;
		}
		.white-space {
			display: block;
			float: left;
			height: 100%;
			width: 4px;
			background-color: $white;
		}
		.dropdown {
			float: left;
			height: 100%;
			.dropdown-toggle {
				@include font(16px, 25px, $darkGrey);
				height: 100%;
				border: 2px solid #000;
				padding-left: 10px;
				position: relative;
				text-align: left;
				background: $white;
			}
			.caret {
				float: right;
				margin-top: 10px;
				margin-right: 10px;
			}
		}
		.month-dropdown .dropdown-toggle {
			width: 208px;
		}
		.year-dropdown .dropdown-toggle {
			width: 130px;
		}
	}
	.region-name-column {
		padding-left: 5px;
		text-align: center;
		width: 50%;
	}
	.percentage-column-header {
		text-align: center;
		width: 50%;
	}
	.region-name {
		padding-left: 5px;
		text-align: left;
		width: 50%;
		cursor: pointer;
		&.selected {
			background: $purple;
			color: $white;
			cursor: default;
		}
	}
	.percentage {
		text-align: center;
		width: 50%;
	}
	tr.even {
		background-color: $lightGrey;
	}
}

.stat-reader {
	float: right;
	margin: 12px 0 0 0;
	width: 225px;
	.stat-reader-percentage {
		@include font(30px, 40px, $red);
		margin-top: 9px;
	}
	.stat-reader-date, .stat-reader-region, .stat-reader-label {
		@include font(18px, 22px, $darkGrey);
	}
	.stat-reader-horiz-line {
		display: block;
		height: 1px;
		width: 100%;
		background: $darkGrey;
		margin-top: 9px;
	}
}

.level-3-graph {
	position: relative;
	float: left;
	margin-top: 64px;
	.month-dial-popover {
	    @include popover($darkGrey, $white);
	    display: block;
	    width: 300px;
	    position: absolute;
	    border-radius: 0;
	    h3 {
	    	@include font(18px, 24px, #fff);
	    	font-family: 'open_sansregular';
	    }
	    &.left .arrow, &.right .arrow {
			top: 20%;
		}
	    &.right .arrow:after {
	        border-right-color: $darkGrey;
	    }
	    &.left .arrow:after {
	        border-left-color: $darkGrey;
	    }
	    &.top .arrow:after {
	        border-top-color: $darkGrey;
	    }
	    &.bottom .arrow:after {
	        border-bottom-color: $darkGrey;
	    }  
	    h3 {
	 		margin-bottom: 16px;
	    }
		p {
			height: 24px;
			margin: 0 0 20px 0;
			@include font(16px, 24px, #fff);
		}
		&.blue { 
			color: $blue;
		}
		&.purple { 
			color: $purple;
		}
		&.green { 
			color: $green;
		}
	    .unemp-rate {
	    	display: block;
	    	float: left;
	    	margin-right: 14px;
	    	text-align: right;
	    	width: 42px;
	    	&.blue { color: $lightBlue; }
			&.purple { color: $lightPurple; }
			&.green { color: $lightGreen; }
	    }
	    .name {
	    	display: block;
	    	float: left;
	    	width: 180px;
	    }
	    .month, .year {
	    	text-transform: capitalize;
	    }
	}
}
.region-picker {
	float: left;
	width: 312px;
	overflow: hidden;
	margin: 70px 0 0 30px;
	.region-select-container {
		@include font(15px, 18px);
		height: 377px;
		.region {
			height: 45px;
			border-bottom: 2px solid $white;
			cursor: pointer;
			.faux-check-box {
				border: 2px solid #000;
				display: block;
				float: left;
				height: 18px;
				line-height: 15px;
				margin: 13px 9px 0;
				position: relative;
				text-align: center;
				width: 18px;
				.line-style-icon {
					background-size: 18px 3px;
					background-repeat: no-repeat;
					background-color: transparent;
					bottom: -8px;
					display: block;
					height: 3px;
					left: -2px;
					position: absolute;
					width: 18px;
				}
				.line-style-1 {background-image: url('../img/level-3-selected-region-line-style-1.png');}
				.line-style-2 {background-image: url('../img/level-3-selected-region-line-style-2.png');}
				.line-style-3 {background-image: url('../img/level-3-selected-region-line-style-3.png');}
				.line-style-4 {background-image: url('../img/level-3-selected-region-line-style-4.png');}
			}
			.region-name {width: 260px;}
			&.selected{
				&.purple {background-color: $purple; color: $white;}
				&.blue {background-color: $blue; color: $white;}
				&.green {background-color: $green; color: $white;}	
			}
		}
	}
}

.level-3-instruction-area {
    padding: 19px 16px 40px 65px;
    width: 100%;
    .question-area-indicator {
        margin-top: 5px;
	}
    .question {
        width: 810px;
	    ul {
	        @include font(14px, 16px);
	        font-family: 'open_sanssemibold';
	        padding-left: 1px;
	        input {
	            position: relative;
	            bottom: 2px;
	            margin: 0 6px 0 0;
	        }
	    }
    }
}

#mappingContent {
	float: left;
	margin-top: 56px;
	position: relative;
	width: 760px;
}
#mappingContent img {
	max-width: none;
}
.map_popup_feature {
	@include popover($darkGrey, $white);
	padding: 10px;
}