.level-2-pie-charts {
    .pie-charts-main-header {
        @include font(21px, 24px);
        font-family: $semibold;
        padding: 16px;
        margin: 0 0 5px 0;
        box-shadow: 5px 6px 6px -7px;
        background-color: #eee;
    }
    .pie-chart-container {
        text-align: center;
    }
    .pie-chart-title {
        @include font(18px, 24px);
        font-family: 'open_sansbold';
        display: block;
        margin: 0;
        padding: 0;
    }
    .legend-label {
      @include font(14px, 16px);
    }
}

.level-2-response-field {
    width: 30px;
}

@mixin popover($background: $white, $textColor: $darkGrey) {
    background: $background;
    color: $textColor;
    &.right .arrow:after {
        border-right-color: $background;
    }
    &.left .arrow:after {
        border-left-color: $background;
    }
    &.top .arrow:after {
        border-top-color: $background;
    }
    &.bottom .arrow:after {
        border-bottom-color: $background;
    }    
}

.popover-close-button {
    position: absolute;
    top: -12px;
    right: -12px;
}

.popover .alert-icon {
    float: left;
    margin: 5px 14px 0 5px;
}

.incorrect-answer-popover {
    @include popover($red, $white);
}

[rel=popover][data-color=darkGrey] + .popover {
    @include popover($darkGrey);
}

[rel=popover][data-color=white] + .popover {
    @include popover($white);
}

.scenario-radio-buttons-container {
    width: 157px;
    margin-right: 25px;
    .scenario-category-label {
        font-family: 'open_sansbold';
        @include font(16px, 20px);
        width: 132px;
    }
    .info-icon {
        display: block;
        height: 25px;
        width: 25px;
        background: transparent url('../img/info_icon.png') no-repeat top left / 25px 25px;
    }
}