@import "bootstrap-sass/lib/bootstrap";

$blue: #0096C8;
$green: #7CB555;
$darkGrey: #333;
$grey: #DDD;
$lightGrey: #F3F3F3;
$white: #FFF;

/* Put your CSS here */
html, body {
}

body {
    background: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.intro-container, .overview-container, .level-intro-container {
    background: $lightGrey;
    color: $darkGrey;
    padding: 50px;
    width: 1170px;
}
.intro-container {
    margin: 100px auto 0;
}
.overview-container {
    margin: 100px auto 0;
}
.level-intro-container {
    margin: 200px auto 0;
}

.level-1-container {
    height: 100%;
    width: 100%;
}

.intro {
    background: $blue; 
    height: 100%;
    width: 100%;
}
