@import "bootstrap-sass/lib/bootstrap";
@import "fonts/fonts";

/* Color Palette */
$green: #7CB555;
$darkGrey: #333;
$grey: #DDD;
$lightGrey: #F3F3F3;
$white: #FFF;
$green: #0f673a;
$lightGreen: #8ec859;
$blue: #0d5b92;
$lightBlue: #70caf2;
$red: #990000;
$purple: #652066;

@mixin circle($dimensions) {
    height: $dimensions;
    width: $dimensions;
    border-radius: 50%;
}       

@mixin font($size: 16px, $line-height: 18px, $color: $darkGrey) {
    font-size: $size;
    line-height: $line-height;
    color: $color;
}  

$semibold: 'open_sanssemibold', "Helvetica Neue", Helvetica, Arial, sans-serif;

/* Put your CSS here */

/* apply a natural box layout model to all elements */
/*http://www.paulirish.com/2012/box-sizing-border-box-ftw/*/
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

body {
    background: #fff;
    font-family: $semibold;
    color: #333;
}
div, ul, li, p {
    padding: 0; margin: 0;
}
 ul {
    list-style: none;
 }

.button-link {
    @include font(18px, 18px);
    letter-spacing: 0.06em;
    padding: 10px 41px;
    color: #FFF;
    position: absolute;
    bottom: 19px;
    right: 16px;
    &:hover{
        color: #fff;
        text-decoration: none;
    }
    &.blue {
        background: #035990;
    }
    &.green {
        background: #006639;
    }
}

.intro {
    background: $green; 
    height: 100%;
    width: 100%;
}

.intro-container, .overview-container, .level-intro-container {
    background: $lightGrey;
    color: $darkGrey;
    padding: 40px 25px 100px 25px;
    position: relative;
    width: 800px;
    .logo {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    h1 {
        @include font(24px, 26px);
        font-family: 'open_sansbold';
        span {
            font-family: 'open_sanssemibold';
            font-weight: normal;
        }
    }
}

.intro-container {
    margin: 100px auto 0;
    h1 {
        margin-bottom: 40px;
    }
    .column {
        width: 200px;
        margin-right: 65px;
        float: left;
        .image-container {
            width: 100%;
            text-align: center;
            margin-bottom: 20px;
        }
    }
    .last-column {
        float: right;
        margin-right: 0
    }
}

.overview-container {
    margin: 100px auto 0;
    h1 {
        margin: 0 0 5px 0;
    }
    & > p {
        margin-bottom: 20px;
    }
    .main-overview-level-description {
        margin-bottom: 20px;
        padding: 12px 0 0 85px;
        min-height: 64px;
        h2 {
            margin: 0 0 5px 0;
            @include font(18px, 20px);
        }
        p {
            @include font(14px, 16px);
            font-family: 'open_sansregular';
        }
    }
    .recognize { background: transparent url('../img/level-icon_recognize.png') no-repeat top left / 64px 64px}
    .calculate { background: transparent url('../img/level-icon_calculate.png') no-repeat top left / 64px 64px}
    .analyze { background: transparent url('../img/level-icon_analyze.png') no-repeat top left / 64px 64px}
    .compare { background: transparent url('../img/level-icon_compare.png') no-repeat top left / 64px 64px}
}

.level-intro-container {
    margin: 200px auto 0;
}

.level-1, .level-2{
    background: #888;
}

.level-1-container, .level-2-container {
     width: 1024px;
     margin: 0 auto;
}

.level-2-container {
    background: $grey;
}

.main-header {
    background: $darkGrey; 
    height: 60px;
    width: 100%;    
    .logo {
        float: right;
        margin: 10px 21px 0 0;
    }
    div {
        display: inline-block;
        float: left;
    }
    h1 {
        @include font(20px, 22px, $white);
        float: left;
        margin: 21px 20px 0;
    }
}

.score-container {
    margin: 10px 20px 0;
}

.score-label {
    @include font(16px, 15px, $white);
    font-family: 'open_sansregular';
    display: inline-block;
    padding-right: 5px;
}

.score {
    display: inline-block;
    @include font(20px, 22px, $white);
    background: transparent url('../img/level-score_bg.png') top left;
    background-size: 95px 40px; /*downsample for retina*/
    font-weight: bold;
    width: 95px;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
}

.progress-bar-container {
    margin: 18px 20px 0;
    position: relative;
    .prog-bar-level-icon {
        position: absolute;
        top: 4px;
        display: none;
        &.level-icon-1 {
            left: 81px;
        }
        &.level-icon-2 {
            left: 149px;
        }
        &.level-icon-3 {
            left: 219px;
        }
        &.level-icon-4 {
            left: 286px;
        }
    }
}

.level-1 .progress-bar-container {
    .level-icon-1 {
        display: inline;
    }
} 

.level-2 .progress-bar-container {
    .level-icon-1, .level-icon-2 {
        display: inline;
    }
} 

.level-3 .progress-bar-container {
    .level-icon-1, .level-icon-2, .level-icon-3 {
        display: inline;
    }
} 

.level-4 .progress-bar-container {
    .level-icon-1, .level-icon-2, .level-icon-3, .level-icon-4 {
        display: inline;
    }
} 

.progress-bar-label {
    @include font(16px, 15px, $white);
    font-family: 'open_sansregular';
    padding-right: 5px;
}

.profiles, .level-2-pie-charts {
    background: $grey;
    float: left;
    min-height: 708px;
    width: 302px;
    ul {
        margin-left: 16px;
    }
}

.profiles-header {
    @include font(21px, 24px);
    font-family: $semibold;
    padding: 16px;
    margin: 0 0 40px 0;
    box-shadow: 5px 6px 6px -7px;
    background-color: #eee;
}

.profile {
    background-position: 50% 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    color: $white;
    height: 67px;
    position: relative;
    width: 67px;
    float: left;
    &.active {
        cursor: move;
    }
}

.failed-attempts-count {
    background: $red;
    color: $white;
    display: block;
    height: 14px;
    font-size: 8px;
    line-height: 14px;
    position: absolute;
    right: 12px;
    text-align: center;
    top: 12px;
    width: 14px;
}

.tree {
    background: $white;
    float: left;
    height:536px;
    width: 721px;
    position: relative;
    h2 {
        @include font(24px, 24px);
        padding: 16px 0 25px 207px;
        margin: 0;
    }
    .tree-bg {
        position: absolute;
        top: 104px;
        left: 160px;
    }
}

.question-area {
    padding: 19px 16px;
    background: #f3f3f3;
    box-shadow: inset 1px 4px 9px -6px;
    float: left;
    min-height: 172px;
    width: 721px;
    position: relative;
    .question-area-indicator {
        width: 52px;
        float: left;
    }
    .question {
        @include font(18px, 22px);
        width: 600px;
        float: left;
        p {

        }
    }
}

$nodeSize: 130px;
$circleDiameter: 83px;
$circleBorderWidth: 9px;
$labelSize: 21px;

.node {
    color: $darkGrey;
    position: absolute;
    text-align: center;
    height: $nodeSize + $circleBorderWidth*2;
    width: $nodeSize + $circleBorderWidth*2;
    .total {
        font-size: $labelSize;
        font-weight: bold;
        font-family: 'open_sansbold';
        display: block;
        margin: (($circleDiameter - $circleBorderWidth*2)/2) - $labelSize/2 auto 0;
    }
    .node-label {
        position: relative;
        @include font(16px, 20px);
        bottom: -($circleBorderWidth);
        display: block;
        margin: 0 auto;
    }
    .node-label.side {
            top: -50px; left: 100px;
    }
}

.circle {
    margin: 0 auto;
    @include circle($circleDiameter);
}

.level-1 .branch .circle {
    border: $circleBorderWidth solid $grey;
}

.level-1 .leaf .circle {
    border: $circleBorderWidth solid $purple;
}

.level-2 .non-institution .circle {
    border: $circleBorderWidth solid $darkGrey;
}

.level-2 .labor-force .circle {
    border: $circleBorderWidth solid $green;
}

.level-2 .not-labor-force .circle {
    border: $circleBorderWidth solid $lightGreen;
}

.level-2 .employed .circle {
    border: $circleBorderWidth solid $blue;
}

.level-2 .unemployed .circle,.level-2 .friction .circle,
.level-2 .structure .circle,.level-2 .cyclic .circle
 {
    border: $circleBorderWidth solid $lightBlue;
}

.non-institution {
    left: 337px;top: 67px;
    .labor-force {
        left: -167px;top: 69px;
        .employed {
            left: -100px;top: 117px;
        }
        .unemployed {
            left: 107px;top: 117px;
            .friction{left: -100px;top: 144px;}
            .structure{left: 30px;top: 144px;}
            .cyclic{left: 165px;top: 144px;}
        }
    }
    .not-labor-force {
        left: 167px;top: 69px;
    }
}

.node.over {
    border: 2px dashed #000;
}

#incorrect-modal.modal {
    @include border-radius(4px);
    background: $darkGrey;
    border: 1px solid $red;
    opacity: .9;
    text-align: center;
    top: 50%;
    strong{
        display: block;
        color: $red;
        text-transform: uppercase;
    }
    small {
        color: $white;
    }
}

.modal-backdrop, .modal-backdrop.fade.in {
    opacity: .1;
}

@import "level-1";
@import "level-2";
