@import "bootstrap-sass/lib/bootstrap";

$blue: #0096C8;
$green: #7CB555;
$darkGrey: #333;
$grey: #DDD;
$lightGrey: #F3F3F3;
$white: #FFF;

@mixin circle($dimensions) {
    height: $dimensions;
    width: $dimensions;
    border-radius: 50%;
}  

@mixin font($size: 16px, $line-height: 18px, $color: $darkGrey) {
    font-size: $size;
    line-height: $line-height;
    color: $color;
}  

/* Put your CSS here */
body {
    background: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

 ul {
    list-style: none;
 }

/*.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}
.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}*/


.intro {
    background: $blue; 
    height: 100%;
    width: 100%;
}
.intro-container, .overview-container, .level-intro-container {
    background: $lightGrey;
    color: $darkGrey;
    padding: 50px;
    width: 1170px;
}
.intro-container {
    margin: 100px auto 0;
}
.overview-container {
    margin: 100px auto 0;
}
.level-intro-container {
    margin: 200px auto 0;
}
.level-1{
    background: #888;
}
.level-1-container {
     width: 1024px;
     margin: 0 auto;
}
.banner {
    background: $darkGrey; 
    height: 60px;
    width: 100%;
    /*box-shadow:  1px 6px 5px 6px #ccc;*/
    /*@include box-shadow(red 20px 20px 10px);*/

    div {
        display: inline-block;
        float: left;
    }
    h1 {
        @include font(20px, 22px, $white);
        float: left;
        margin: 21px 20px 0;
    }
    .score-container {
        margin: 9px 20px 0;
    }
    .score-label {
        @include font(10px, 12px, $white);
        display: inline-block;
        padding-right: 5px;
    }
    .score {
        display: inline-block;
        @include font(20px, 22px, $white);
        background: transparent url('../img/level-score_bg.png') top left;
        background-size: 95px 40px; /*downsample for retina*/
        font-weight: bold;
        width: 65px;
        height: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
    }
    .progress-bar-container {
        margin: 14px 20px 0;
    }
    .progress-bar-label {
        @include font(10px, 12px, $white);
        padding-right: 5px;
    }
    .progress-bar {

    }
    .logo {
        float: right;
        margin: 10px 21px 0 0;
    }
}

.profiles {
    background: $grey;
    box-shadow: inset -4px 0px 9px -6px;
    float: left;
    height: 708px;
    width: 303px;
    .profile {
        background-position: 50% 100%;
        background-size: 100%;
        background-repeat: no-repeat;
        color: $white;
        height: 67px;
        position: relative;
        width: 67px;
        float: left;
    }
    .active {
        cursor: move;
    }
    .incorrect {
        background: $red;
        color: $white;
        display: block;
        height: 14px;
        font-size: 8px;
        line-height: 14px;
        position: absolute;
        right: -7px;
        text-align: center;
        top: -7px;
        width: 14px;
    }
}
.tree {
    background: $white;
    float: left;
    height:536px;
    width: 721px;
}
.dialogue {
    background: $white;
    box-shadow: inset 1px 4px 9px -6px;
    float: left;
    height: 172px;
    width: 721px;
}

$nodeSize: 55px;
$nodeBorderWidth: 7px;
$labelSize: 14px;
.node {
    color: $darkGrey;
    position: absolute;
    text-align: center;
    height: $nodeSize + $nodeBorderWidth*2;
    width: $nodeSize + $nodeBorderWidth*2;
    .total {
        font-size: $labelSize;
        font-weight: bold;
        display: block;
        margin: ($nodeSize - $nodeBorderWidth)/2 - $labelSize/2 auto 0;
    }
    .node-label {
        position: relative;
        font-size: 9px;
        line-height: 10px;
        bottom: -($nodeBorderWidth);
        display: block;
        margin: 0 auto;
    }
}
.branch .circle {
    @include circle($nodeSize);
    border: 6px solid $grey;
}
.leaf .circle {
    @include circle($nodeSize);
    border: 6px solid #EC9905;
}
.non-institution {
    left: 60%;top: 60px;
    .labor-force {
        left: -100px;top: 80px;
        .employed {
            left: -100px;top: 80px;
        }
        .unemployed {
            left: 100px;top: 80px;
            .friction{left: -100px;top: 80px;}
            .structure{left: 0px;top: 80px;}
            .cyclic{left: 100px;top: 80px;}
        }
    }
    .not-labor-force {
        left: 100px;top: 80px;
    }
}

.node.over {
    border: 2px dashed #000;
}
#incorrect-modal.modal {
    @include border-radius(4px);
    background: $darkGrey;
    border: 1px solid $red;
    opacity: .9;
    text-align: center;
    top: 50%;
    strong{
        display: block;
        color: $red;
        text-transform: uppercase;
    }
    small {
        color: $white;
    }
}
.modal-backdrop, .modal-backdrop.fade.in {
    opacity: .1;
}