<div class="question-area-indicator"><img src="img/indicator_question.png" width="44" height="90" /></div>
<div class="question" ng-show="dataSpec.currentStep=='1'">
	<p>What happened to the national unemployment rate between March 2010 and March 2011</p>
	<ul class="clearfix">
		<li>
			<input type="radio" name="firstQuestion" value="decrease" />
			It decreased
		</li>
		<li>
			<input type="radio" name="firstQuestion" value="increase" />
			It increased
		</li>
		<li>
			<input type="radio" name="firstQuestion" value="same" />
			It stayed the same
		</li>
	</ul>

</div>
<div class="question" ng-show="dataSpec.currentStep=='2'">
	<p>Choose a State to explore then click Next.</p>
</div>
<div class="question" ng-show="dataSpec.currentStep=='3'">
	<p>Choose two counties within {{dataSpec.regionName}} to compare then click Next.</p>
</div>
<div class="question" ng-show="dataSpec.currentStep=='4'">
	<p>In March 2010, how does the unemployment rate in {{dataSpec.county1}} compare to the unemployemnt rate in {{dataSpec.county2}}?</p>
	<ul class="clearfix">
		<li>
			<input type="radio" name="lastQuestion" value="higher" />
			It is higher than the unemployment rate in Livingston.
		</li>
		<li>
			<input type="radio" name="lastQuestion" value="lower" />
			It is lower than the unemployment rate in Livingston.
		</li>
		<li>
			<input type="radio" name="lastQuestion" value="same" />
			It is the same as the unemployment rate in Livingston.
		</li>
	</ul>

</div>
<button class="button-link blue" ng-click="submitResponse()" type="button">Next</button>