 <ue-popover2 class="incorrect-popover" show-event="showIncorrectResponsePopover">
	<img src="img/popover-incorrect-icon.png" class="alert-icon" width="44" height="45" />
	<div class="popover-content">
		<h4>Incorrect.</h4>
		<p>{{getIncorrectResponseFeedback()}}</p>
	</div>
</ue-popover2>

 <ue-popover2 class="correct-popover" show-event="showCorrectResponsePopover">
	<img src="img/popover-correct-icon.png" class="alert-icon" width="44" height="45" />
	<div class="popover-content">
		<h4>Correct.</h4>
	</div>
</ue-popover2>

 <ue-popover2 class="instruction-popover" show-event="showInstructionPopover">
	<img src="img/popover-alert-icon.png" class="alert-icon" width="44" height="45" />
	<div class="popover-content">
		<p>{{instruction}}</p>
	</div>
</ue-popover2>
