<div class="stat-reader">
	<div>	
		<p class="stat-reader-percentage">{{dataSpec.usValue}}%</p>
		<p class="stat-reader-date">{{getMonthName(dataSpec.month)}} {{dataSpec.year}}</p>
		<h3 class="stat-reader-region">United States</h3>
		<p class="stat-reader-label">Unemployment Rate</p>
		<span class="stat-reader-horiz-line"></span>
	</div>	
	<div>	
		<p class="stat-reader-subheading-percentage">{{dataSpec.nairuValue}}%</p>
		<p class="stat-reader-subheading-label">Natural Unemployment Rate</p>
		<span class="stat-reader-horiz-line"></span>
	</div>	
	<div>	
		<p class="stat-reader-subheading-percentage">{{dataSpec.lfpValue}}%</p>
		<p class="stat-reader-subheading-label">Labor Force Participation Rate</p>
		<span class="stat-reader-horiz-line"></span>
	</div>	
	<div ng-hide="dataSpec.regionName=='United States'">	
		<p class="stat-reader-percentage">{{regionValue}}%</p>
		<p class="stat-reader-date">{{getMonthName(dataSpec.month)}} {{dataSpec.year}}</p>
		<h3 class="stat-reader-region">{{dataSpec.regionName}} </h3>
		<p class="stat-reader-label">Unemployment Rate</p>
		<span class="stat-reader-horiz-line"></span>
	</div>	
	<div ng-hide='dataSpec.county1==""'>	
		<p class="stat-reader-percentage">{{county1Value}}%</p>
		<p class="stat-reader-date">{{getMonthName(dataSpec.month)}} {{dataSpec.year}}</p>
		<h3 class="stat-reader-region">{{dataSpec.county1}}</h3>
		<p class="stat-reader-label">Unemployment Rate</p>
		<span class="stat-reader-horiz-line"></span>
	</div>	
	<div ng-hide='dataSpec.county2==""'>	
		<p class="stat-reader-percentage">{{county2Value}}%</p>
		<p class="stat-reader-date">{{getMonthName(dataSpec.month)}} {{dataSpec.year}}</p>
		<h3 class="stat-reader-region">{{dataSpec.county2}}</h3>
		<p class="stat-reader-label">Unemployment Rate</p>
		<span class="stat-reader-horiz-line"></span>
	</div>	
</div>