<div class="level-3-container clearfix">
	<div ng-include src="'views/main-header.html'"></div>
	<div class="level-3-secondary-header clearfix" ng-include src="'views/level-3/secondary-header.html'"></div>
	<!-- MAIN CONTENT //////////////////////////////////////////////////////////////////////////////// -->
	<div class="main-content-area level-3-table-container" ng-show="dataSpec.view=='table'" ng-include src="'views/level-3/table-view.html'"></div>

	<div class="main-content-area level-3-map-container" ng-show="dataSpec.view=='map'"  ng-include src="'views/level-3/map-view.html'"></div>

	<div class="main-content-area level-3-graph-container" ng-show="dataSpec.view=='graph'" ng-include="'views/level-3/graph-view.html'"></div>
	<!-- INSTRUCTIONS AND QUESTIONS //////////////////////////////////////////////////////////////////////////////// -->
	<div class="level-3-instruction-area question-area" ng-include="'views/level-3/instructions.html'"></div>
		
	<div id="incorrect-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-body">
	    {{dataSpec.feedbackMessage}}
	  </div>
	</div>
</div>
<!-- TEST DATA //////////////////////////////////////////////////////////////////////////////// -->
<!-- 	
<hr/>
<div>
  <div><b>US unemployment</b> : {{usValue}}</div>
  <div ng-hide='subRegionType=="States"'>
  	<div><b>State unemployment</b> : {{dataSpec.regionName}} : {{regionValue}}</div>
    <div ng-hide='dataSpec.county1==""'><b>County1 Unemployment</b> : {{dataSpec.county1}} : {{county1Value}}</div>
    <div ng-hide='dataSpec.county2==""'><b>County2 Unemployment</b> : {{dataSpec.county2}} : {{county2Value}}</div>
  </div>
  <div><b>Table of {{subRegionType}}</b> (<i>name : id : value</i>; the map view needs the id, but the table view doesn't...)</div>
   <div ng-repeat="subRegion in dataSpec.subRegionData">
  	<div>{{subRegion.name}} : {{subRegion.id}} : {{subRegion.value}}</div>
  </div>
</div>
 -->