<div id="mappingContent" jqm-map style="position: relative;">
    <!-- The DIV that will contain the map -->
    <div id="mapDiv" style="position: relative; margin: 0; padding: 0; border: none; width: 780px; height: 400px; overflow: hidden;"></div>
    <!-- The DIV to display close to the mouse pointer when the user hovers over an state -->
    <div id="jqm_popup_feature" class="map_popup_feature" style="z-index: 500; position: absolute; display: none; left: 546px; top: 169px;">
        <div class="title">##label##</div>
        <div class="popup">##popup##</div>
    </div>
    <div id="jqm_loader" class="map_loader"></div>
</div>

