<div class="question-area-indicator"><img src="img/indicator_question.png" width="44" height="90" /></div>

<div class="question" ng-show="dataSpec.question==1">
	<p>What happened to the national unemployment rate between {{dataSpec.latestDateAvailable.monthName}} {{dataSpec.latestDateAvailable.year - 1}} and {{dataSpec.latestDateAvailable.monthName}} {{dataSpec.latestDateAvailable.year}}</p>
	<ul class="clearfix">
		<li>
			<input type="radio" name="question1" value="increased" />
			<p class="choice"><span>a.</span> It increased</p>
		</li>
		<li>
			<input type="radio" name="question1" value="decreased" />
			<p class="choice"><span>b.</span> It decreased</p>
		</li>
		<li>
			<input type="radio" name="question1" value="stayed the same" />
			<p class="choice"><span>c.</span> It stayed the same</p>
		</li>
	</ul>
</div>

<div class="question" ng-show="dataSpec.question==2">
	<p>How does the national unemployment rate in {{dataSpec.latestDateAvailable.monthName}} {{dataSpec.latestDateAvailable.year}} compare to the natural rate of unemployment in the same month?</p>
	<ul class="clearfix">
		<li>
			<input type="radio" name="question2" value="higher" />
			<p class="choice"><span>a.</span> It is higher than the natural rate of unemployment.</p>
		</li>
		<li>
			<input type="radio" name="question2" value="lower" />
			<p class="choice"><span>b.</span> It is lower than the natural rate of unemployment.</p>
		</li>
		<li>
			<input type="radio" name="question2" value="styed the same" />
			<p class="choice"><span>c.</span> It is the same as the natural rate of unemployment.</p>
		</li>
	</ul>
</div>

<div class="question" ng-show="dataSpec.question==3">
	<p>What happened to the labor force participation rate between {{dataSpec.latestDateAvailable.monthName}} {{dataSpec.latestDateAvailable.year - 1}} and {{dataSpec.latestDateAvailable.monthName}} {{dataSpec.latestDateAvailable.year}}</p>
	<ul class="clearfix">
		<li>
			<input type="radio" name="question3" value="increased" />
			<p class="choice"><span>a.</span> It is higher than the national unemployment rate.</p>
		</li>
		<li>
			<input type="radio" name="question3" value="decreased" />
			<p class="choice"><span>b.</span> It is lower than the national unemployment rate.</p>
		</li>
		<li>
			<input type="radio" name="question3" value="stayed the same" />
			<p class="choice"><span>c.</span> It is the same as the national unemployment rate.</p>
		</li>
	</ul>
</div>

<div class="question" ng-show="dataSpec.question==4">
	<p>The national unemployment rate {{answers.1()}} and the labor force participation rate {{answers.3()}} from {{dataSpec.latestDateAvailable.monthName}} {{dataSpec.latestDateAvailable.year - 1}} to {{dataSpec.latestDateAvailable.monthName}} {{dataSpec.latestDateAvailable.year}}.  At the same time, the natural rate of unemployment in {{dataSpec.latestDateAvailable.monthName}} {{dataSpec.latestDateAvailable.year}} was {{answers.2()}}. What is a possible explanation for this?</p>
	<ul class="clearfix">
		<li>
			<input type="radio" name="question4" value="a" />
			<p class="choice"><span>a.</span> The economy has been in an expansion for some time, encouraging people to enter the labor force. However, the economy is beginning to slow down and unemployment is increasing.</p>
		</li>
		<li>
			<input type="radio" name="question4" value="b" />
			<p class="choice"><span>b.</span> The economy has been in an expansion for some time, but is starting to decline. Those who thought they could get a job are realizing that it is becoming increasingly difficult to do so and have stopped looking for work.</p>
		</li>
		<li>
			<input type="radio" name="question4" value="c" />
			<p class="choice"><span>c.</span> The economy is coming out of a recession and people are beginning to look for jobs but have been unable to find any yet.</p>
		</li>
		<li>
			<input type="radio" name="question4" value="d" />
			<p class="choice">d. The economy has been in a recession for some time and many of those who are unemployed have stopped looking for work.</p>
		</li>
	</ul>
</div>

<div class="question" ng-show="dataSpec.question==5 && !hasChosenAState()">
	<p>Choose a State to explore then click Next.</p>
</div>

<div class="question" ng-show="dataSpec.question==5 && hasChosenAState()">
	<p>In {{dataSpec.latestDateAvailable.monthName}} {{dataSpec.latestDateAvailable.year}}, How does the unemployment rate in {{dataSpec.regionName}} compare to the national unemployment rate in {{dataSpec.latestDateAvailable.monthName}} {{dataSpec.latestDateAvailable.year}}</p>
	<ul class="clearfix">
		<li>
			<input type="radio" name="question5" value="higher" />
			<p class="choice"><span>a.</span> Its higher than the national unemployment rate</p>
		</li>
		<li>
			<input type="radio" name="question5" value="lower" />
			<p class="choice"><span>b.</span> Its lower than the national unemployment rate</p>
		</li>
		<li>
			<input type="radio" name="question5" value="stayed the same" />
			<p class="choice"><span>c.</span> Its the same as the national unemployment rate</p>
		</li>
	</ul>
</div>


<div class="question" ng-show="dataSpec.question==6 && !hasChosenTwoCounties()">
	<p>Choose two counties within {{dataSpec.regionName}} to compare then click Next.</p>
</div>

<div class="question" ng-show="dataSpec.question==6 && hasChosenTwoCounties()">
	<p>Choose two counties within {{dataSpec.regionName}}.  In {{dataSpec.latestDateAvailable.monthName}} {{dataSpec.latestDateAvailable.year}}, how does the unemployment rate in {{dataSpec.county1}} compare to the unemployemnt rate in {{dataSpec.county2}}?</p>
	<ul class="clearfix">
		<li>
			<input type="radio" name="question6" value="higher" />
			<p class="choice"><span>a.</span> It is higher than the unemployment rate in {{dataSpec.county2}}.</p>
		</li>
		<li>
			<input type="radio" name="question6" value="lower" />
			<p class="choice"><span>b.</span> It is lower than the unemployment rate in {{dataSpec.county2}}.</p>
		</li>
		<li>
			<input type="radio" name="question6" value="stayed the same" />
			<p class="choice"><span>c.</span> It is the same as the unemployment rate in {{dataSpec.county2}}.</p>
		</li>
	</ul>
</div>
<button class="button-link blue" ng-click="submitResponse(dataSpec.question)" type="button">Next</button>