
<h2>Unemployment Rates</h2>
<div class="dropdown" ng-show="showRegionDropdown()">
	<div class="dropdown-toggle" role="button">
		<span>{{{true: 'Choose a State', false: dataSpec.regionName}[dataSpec.regionName == 'United States']}}</span><b class="caret"></b>
	</div>
	<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
		<li  ng-repeat="region in regions" ><a ng-click="setRegionName(region)">{{region}}</a></li>
	</ul>
</div>

<div class="dropdown" ng-show="showExplorationModeCountyDropdown()">
	<div class="dropdown-toggle" role="button">
		<span>{{dataSpec.county1 || 'Choose a county'}}</span><b class="caret"></b>
	</div>
	<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
		<li ng-repeat="c in countyList" ng-hide="c == dataSpec.county1 || c == dataSpec.county2"><a ng-click="setCounty1(c)">{{c}}</a></li>
	</ul>
</div>

<div class="dropdown" ng-show="showGraphingModeCountyDropdown()">
	<div class="dropdown-toggle" role="button">
		<span>{{dataSpec.county1 || 'Choose County 1'}}</span><b class="caret"></b>
	</div>
	<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
		<li ng-repeat="c in countyList" ng-hide="c == dataSpec.county1 || c == dataSpec.county2"><a ng-click="setCounty1(c)">{{c}}</a></li>
	</ul>
</div>

<div class="dropdown" ng-show="showGraphingModeCountyDropdown()">
	<div class="dropdown-toggle" role="button">
		<span>{{dataSpec.county2 || 'Choose County 2'}}</span><b class="caret"></b>
	</div>
	<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
		<li ng-repeat="c in countyList" ng-hide="c == dataSpec.county1 || c == dataSpec.county2"><a ng-click="setCounty2(c)">{{c}}</a></li>
	</ul>
</div>

<div class="view-control" ng-hide="dataSpec.mode == 'graphing'">
	<span class="view-button table-view-button" ng-click="setDataView('table')" ng-class="{on:dataSpec.view == 'table'}">table view</span> 
	<span class="view-button graph-view-button" ng-click="setDataView('graph')" ng-class="{on:dataSpec.view == 'graph'}">graph view</span> 
	<span class="view-button map-view-button" ng-click="setDataView('map')" ng-class="{on:dataSpec.view == 'map'}">map view</span> 
	<span class="view-button-label">Data View: </span>
</div>