<div class="question-area-indicator"><img src="img/indicator_question.png" width="44" height="90" /></div>
<div class="question"><p>The 
	<a href="#" rel="popover" eat-click data-color="darkGrey" show-formula content="employment">employment rate</a> 
	of the group above is 
	<input class="level-2-response-field" ng-model="response.value" ng-maxlength="30" data-color="darkGrey">
	percent. <br />
	Round the answer to the nearest hundreth.</p></div>
<button class="button-link blue" ng-click="submitResponse(2)" type="button">Next</button>

<div class="popover incorrect-answer-popover" ng-show="showHint" ><div class="arrow"></div>
	<div class="popover-inner"><h3 class="popover-title"></h3>
		<img src="img/popover-alert-icon.png" class="alert-icon" width="44" height="45" />
		<div class="popover-content">
			<p>The employment rate is the percentage of the people in the labor force who are employed.</p>
			<img src="img/level-2-hint-employment-rate.png" width="148" height="63">
			<p>{{employmentCategories[0].count}} / {{employmentCategories[6].count}} X 100 = {{employmentCategories[0].count / employmentCategories[6].count * 100 | number:2}}</p>
		</div>
	</div>
	<img class="popover-close-button" src="img/popover_close.png" width="25" height="25" />
</div>

