
<div class="question"><p>The 
	<a href="#" rel="popover" eat-click data-color="darkGrey" show-formula content="laborForceParticipation">labor force participation rate</a> 
	of the group above is 
	<input class="level-2-response-field" ng-model="response.value" ng-maxlength="30" wrong-answer-popover='responseToAnswer()' data-color="darkGrey">
	percent. <br />
	Round the answer to the nearest hundreth.</p></div>
<button class="button-link blue" ng-click="submitResponse(1)" type="button">Next</button>

