<div class="question-area-indicator"><img src="img/indicator_question.png" width="44" height="90" /></div>
<div class="question">
<p>The economy is considered at full employment when there is no cyclical unemployment.  The unemployment rate when the economy is at full employment is considered the natural rate of unemployment.<span class="choose-one-instruction">(Choose one answer for each category)</span></p>

<div class="scenario-radio-buttons-container">
	<div class="scenario-category-header clearfix"><h3 class="scenario-category-label">Labor Force<br />Participation Rate</h3>
		<a class="info-icon" href="#"></a>
	</div>
	<br />
	<ul class="clearfix">
		<li><input type="radio" name="labor-force" />Decrease</li>
		<li><input type="radio" name="labor-force" />Increase</li>
		<li><input type="radio" name="labor-force" />Stay the same</li>
	</ul>
</div>
<div class="scenario-radio-buttons-container">
	<div class="scenario-category-header"><h3 class="scenario-category-label">Employment<br />Rate</h3>
		<a class="info-icon" href="#"></a>
	</div>
	<br />
	<ul class="clearfix">
		<li><input type="radio" name="employment" />Decrease</li>
		<li><input type="radio" name="employment" />Increase</li>
		<li><input type="radio" name="employment" />Stay the same</li>
	</ul>
</div>
<div class="scenario-radio-buttons-container">
	<div class="scenario-category-header"><h3 class="scenario-category-label">Unemployment<br />Rate</h3>
		<a class="info-icon" href="#"></a>
	</div>
	<br />
	<ul class="clearfix">
		<li><input type="radio" name="unemployment" />Decrease</li>
		<li><input type="radio" name="unemployment" />Increase</li>
		<li><input type="radio" name="unemployment" />Stay the same</li>
	</ul>
</div>
<button class="button-link blue" ng-click="submitResponse(4)" type="button">Next</button>
