<div class="question-area-indicator"><img src="img/indicator_question.png" width="44" height="90" /></div>
<div class="question">
<p>What would happen to the labor force participation, employment, and unemployment rates if {{currentScenario.text}} <span class="choose-one-instruction">(Choose one answer for each category)</span></p>

<div class="scenario-radio-buttons-container">
	<div class="scenario-category-header clearfix"><h3 class="scenario-category-label">Labor Force<br />Participation Rate</h3>
		<a class="info-icon" href="#"></a>
	</div>
	<br />
	<ul class="clearfix">
		<li><input type="radio" name="labor-force" value="decrease" />Decrease</li>
		<li><input type="radio" name="labor-force" value="increase" />Increase</li>
		<li><input type="radio" name="labor-force" value="same" />Stay the same</li>
	</ul>
</div>
<div class="scenario-radio-buttons-container">
	<div class="scenario-category-header"><h3 class="scenario-category-label">Employment<br />Rate</h3>
		<a class="info-icon" href="#"></a>
	</div>
	<br />
	<ul class="clearfix">
		<li><input type="radio" name="employment" value="decrease" />Decrease</li>
		<li><input type="radio" name="employment" value="increase" />Increase</li>
		<li><input type="radio" name="employment" value="same" />Stay the same</li>
	</ul>
</div>
<div class="scenario-radio-buttons-container">
	<div class="scenario-category-header"><h3 class="scenario-category-label">Unemployment<br />Rate</h3>
		<a class="info-icon" href="#"></a>
	</div>
	<br />
	<ul class="clearfix">
		<li><input type="radio" name="unemployment" value="decrease" />Decrease</li>
		<li><input type="radio" name="unemployment" value="increase" />Increase</li>
		<li><input type="radio" name="unemployment" value="same" />Stay the same</li>
	</ul>
</div>
<button class="button-link blue" ng-click="submitScenarioResponses()" type="button">Next</button>
