<div class="question-area-indicator"><img src="img/indicator_question.png" width="44" height="90" /></div>
<div class="question"><p>The 
	<a href="#" rel="popover" eat-click data-color="darkGrey" show-formula content="unemployment">unemployment rate</a> 
	of the group above is 
	<input class="level-2-response-field" ng-model="response.value" ng-maxlength="30" wrong-answer-popover='responseToAnswer()' data-color="darkGrey">
	percent. <br />
	Round the answer to the nearest hundreth.</p></div>
<button class="button-link blue" ng-click="submitResponse(3)" type="button">Next</button>
