<div class="question-area-indicator"><img src="img/indicator_question.png" width="44" height="90" /></div>
<div class="question">
<p>The economy is considered at full employment when there is no cyclical unemployment.  The unemployment rate when the economy is at full employment is considered the natural rate of unemployment.</p>
<p>The data above suggests that the <a href="#" rel="popover" eat-click data-color="darkGrey" show-formula  content="naturalUnemployment">natural rate of unemployment</a> is 
	<input class="level-2-response-field" ng-model="response.value" ng-maxlength="30" wrong-answer-popover='responseToAnswer()' data-color="darkGrey">
	percent.  <span class="round-instruction">(Round the answer to the nearest hundreth)</span></p></div>
<button class="button-link blue" ng-click="submitResponse(4)" type="button">Next</button>


<div class="popover incorrect-answer-popover" ng-show="showHint" ><div class="arrow"></div>
	<div class="popover-inner"><h3 class="popover-title"></h3>
		<img src="img/indicator_alert.png" class="alert-icon" width="44" height="45" />
		<div class="popover-content">
			<p>The natural rate of unemployment the percentage of people in the labor force who are either frictionally or structurally unemployed.</p>
			<img src="img/level-2-hint-natural-unemployment-rate.png" width="148" height="63">
			<p>(({{employmentCategories[7].count}} - {{employmentCategories[3].count}}) / {{employmentCategories[6].count}})  X 100 = {{((employmentCategories[7].count - employmentCategories[3].count)/ employmentCategories[6].count)* 100  | number:2}}</p>
		</div>
	</div>
	<img class="popover-close-button" src="img/popover_close.png" width="25" height="25" />
</div>
