<style>
			/* tell the SVG path to be a thin blue line without any area fill */
			path {
				fill: none;
			}
			
			.axis {
			  shape-rendering: crispEdges;
			}
 
			.x.axis .minor {
			  stroke-opacity: .5;
			  stroke-dasharray: 3, 3;
			}
 
			.x.axis line, .x.axis path {
			  fill: none;
			  stroke: #000;
			} 
			.y.axis line, .y.axis path {
			  fill: none;
			  stroke: #000;
			}
</style>
<h2>Unemployment Rates in the United States</h2>
<div unemployment-graph></div>


<div class="popover scrub-bar-popover" ng-show="showScrubBarPopover" ><div class="arrow"></div>
		<div class="popover-content">
			<p>The unemployment rate is the percentage of the people in the labor force who are unemployed.</p>
			<img src="img/level-2-hint-unemployment-rate.png" width="148" height="63">
			<p>{{employmentCategories[7].count}} / {{employmentCategories[6].count}} X 100 = {{employmentCategories[7].count / employmentCategories[6].count * 100 | number:2}}</p>
		</div>
	</div>
</div>
