<header>
	<span class="switch-view-button grid-view-button" ng-click="toggleGridAndGraphViews('grid')" ng-class="{grid:'inactive', graph:'active'}[showGridOrGraph]">show grid view</span>
	<span class="switch-view-button graph-view-button" ng-click="toggleGridAndGraphViews('graph')" ng-class="{grid:'active', graph:'inactive'}[showGridOrGraph]">show graph view</span> 
	<span class="switch-view-button-label">Data View: </span>
</header>

<div class="period-select-header" ng-click="recessionsIsCollapsed = !recessionsIsCollapsed">
<h2>Recessionary Periods</h2>
<span class="open-collapse-button" ng-class="{true:'expand', false:'collapse'}[recessionsIsCollapsed]"></span>
</div>
<div class="period-select-container" ue-collapse="recessionsIsCollapsed" target-height="377">
	<div class="period" ng-class="period.color" ng-repeat="period in recessions" ng-click="toggleSelectedPeriod(period, recessions, $index)">
		<span class="order-num">
			{{period.selectedOrderNum}}
			<span class="line-style-icon" ng-class="'line-style-'+period.color"></span>
		</span>
		<div class="vert-center-wrapper period-name"><div class="vert-center">{{period.name}}</div></div>
	</div>
</div>

<div class="period-select-header" ng-click="expansionsIsCollapsed = !expansionsIsCollapsed">
<h2>Expansionary Periods</h2>
<span class="open-collapse-button" ng-class="{true:'expand', false:'collapse'}[expansionsIsCollapsed]"></span>
</div>
<div class="period-select-container" ue-collapse="expansionsIsCollapsed" target-height="377">
	<div class="period" ng-class="period.color" ng-repeat="period in expansions" ng-click="toggleSelectedPeriod(period, expansions, $index)">
		<span class="order-num">
			{{period.selectedOrderNum}}
			<span class="line-style-icon" ng-class="'line-style-'+period.color"></span>
		</span>
		<div class="vert-center-wrapper period-name"><div class="vert-center">{{period.name}}</div></div>
	</div>
</div>

