<div class="question-area-indicator"><img src="img/indicator_question.png" width="44" height="90" /></div>
<div class="question">
	<p>{{currentQuestion.question}}</p>
	<ul class="clearfix">
		<li>
			<input type="radio" name="answer" value="a" />
			{{currentQuestion.a}}
		</li>
		<li>
			<input type="radio" name="answer" value="b" />
			{{currentQuestion.b}}
		</li>
		<li>
			<input type="radio" name="answer" value="c" />
			{{currentQuestion.c}}
		</li>
	</ul>

</div>
<button class="button-link blue" ng-click="submitResponse()" type="button">Next</button>