<div class="level-4-container clearfix">
	<div ng-include src="'views/main-header.html'"></div>
	<div class="level-4-graph-container" ng-show="showGridOrGraph=='graph'" ng-include src="'views/level-4/graph.html'"></div>
	<div class="level-4-grid-container" ng-show="showGridOrGraph=='grid'" ng-include src="'views/level-4/grid.html'"></div>
	<div class="level-4-periods" ng-include src="'views/level-4/periods.html'"></div>
	<div class="level-4-question-area question-area" ng-include="'views/level-4/questions.html'"></div>
</div>

<div id="incorrect-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body">
    {{feedbackMessage}}
  </div>
</div>
<div ng-include src="'views/popovers.html'"></div>