<div class="level-4-container clearfix">
	<div ng-include src="'views/main-header.html'"></div>
	<div class="level-4-graph" ng-include src="'views/level-4/graph.html'"></div>
	<div class="level-4-periods" ng-include src="'views/level-4/periods.html'"></div>
	<div class="level-4-question-area" ng-include="'views/level-4/questions.html'"></div>
</div>

<div id="choose-answers-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body">
    <strong>Try again</strong>
  </div>
</div>
