<div class="level-1-container">
	<div ng-include src="'views/main-header.html'"></div>
	<div ng-include src="'views/level-1/level-1-profiles.html'"></div>
	<div ng-include src="'views/level-1/level-1-tree.html'"></div>
	<div ng-include src="'views/level-1/level-1-question-area.html'"></div>
	<div ng-include src="'views/level-1/level-1-popovers.html'"></div>
</div>

<!-- <div id="incorrect-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body">
    <strong>Incorrect</strong>
    <small>Try again</small>
  </div>
</div> -->