<div ng-show="currentQuestion.num == 1">
	<div class="question-area-indicator">
		
	</div>
	<div class="question">
		<p>The <a href="#" rel="popover" eat-click data-color="darkGrey" show-formula content="laborForceParticipation">labor force participation rate</a> of the group above is <input class="level-2-response-field" ng-model="response.value" require-two-decimal-places maxlength="5" data-color="darkGrey"> percent.  Round the answer to the nearest hundredth.</p>
	</div>
</div>
<div ng-show="currentQuestion.num == 2">
	<div class="question-area-indicator">
		
	</div>
	<div class="question">
		<p>The <a href="#" rel="popover" eat-click data-color="darkGrey" show-formula content="employment">employment rate</a> of the group above is <input class="level-2-response-field" ng-model="response.value" require-two-decimal-places maxlength="5" data-color="darkGrey"> percent.  Round the answer to the nearest hundredth.</p>
	</div>
</div>

<div ng-show="currentQuestion.num == 3">
	<div class="question-area-indicator"></div>
	<div class="question"><p>The <a href="#" rel="popover" eat-click data-color="darkGrey" show-formula content="unemployment">unemployment rate</a> of the group above is <input class="level-2-response-field" ng-model="response.value" require-two-decimal-places maxlength="5" data-color="darkGrey"> percent.  Round the answer to the nearest hundredth.</p>
	</div>
</div>

<div ng-show="currentQuestion.num == 4">
	<div class="question-area-indicator"></div>
	<div class="question" style="font-size: 14px; line-height: 18px;">
	<p style="margin-bottom: 6px;">The economy is considered at full employment when there is no cyclical unemployment.  The unemployment rate when the economy is at full employment is considered the natural rate of unemployment.</p>
	<p>The data above suggests that the <a href="#" rel="popover" eat-click data-color="darkGrey" show-formula  content="naturalUnemployment">natural rate of unemployment</a> is <input class="level-2-response-field" ng-model="response.value" require-two-decimal-places maxlength="5" wrong-answer-popover='responseToAnswer()' data-color="darkGrey"> percent.  <span class="round-instruction">(Round the answer to the nearest hundredth)</span></p>
	</div>
</div>

<button class="button-link blue" ng-click="submitFillInTheBlankResponse(currentQuestion.num)" type="button">Next</button>