<h2 class="tree-header">Employment Categories</h2>
<div class="tree-bg"><img src="img/tree_bg.png" width="378" height="308" /></div>
<div class="node branch non-institution">
	<div class="circle"><span class="total">{{employmentCategories[5].count | number}}</span></div>
	<span class="node-label">Non-institutional<br /> Adult Population</span>

	<div class="node branch labor-force">
		<div class="circle"><span class="total">{{employmentCategories[6].count | number}}</span></div>
		<span class="node-label">Labor<br />Force</span>

		<div class="node leaf employed">
			<div class="circle"><span class="total">{{employmentCategories[0].count | number}}</span></div>
			<span class="node-label">Employed</span>
		</div>

		<div class="node branch unemployed">
			<div class="circle"><span class="total">{{employmentCategories[7].count | number}}</span></div>
			<span class="node-label side">Unemployed</span>

			<div class="node leaf friction">
				<div class="circle"><span class="total">{{employmentCategories[1].count | number}}</span></div>
				<span class="node-label">Frictionally Unemployed</span>
			</div>

			<div class="node leaf structure">
				<div class="circle"><span class="total">{{employmentCategories[2].count | number}}</span></div>
				<span class="node-label">Structurally Unemployed</span>
			</div>

			<div class="node leaf cyclic">
				<div class="circle"><span class="total">{{employmentCategories[3].count | number}}</span></div>
				<span class="node-label">Cyclically Unemployed</span>
			</div>

		</div>
	</div>
	<div class="node leaf not-labor-force">
		<div class="circle"><span class="total">{{employmentCategories[4].count | number}}</span></div>

		<span class="node-label">Not in Labor Force</span>
	</div>
</div>
<div ng-include src="'views/level-2/level-2-popovers.html'"></div>


