<h2 class="pie-charts-main-header">Employment Statistics</h2>
<div class="pie-chart-container">
<h3 class="pie-chart-title">Population<br />{{employmentCategories[5].count | number}}</h3>
<piechart data="populationChartData" options="populationChartOptions" model="foo">Chart Goes Here</piechart>
<h3 class="pie-chart-title">Labor Force<br />{{employmentCategories[6].count | number}}</h3>
<piechart data="laborForceChartData" options="laborForceChartOptions" model="bar">Chart Goes Here</piechart>
</div>