<div class="question-area-indicator"><img src="img/indicator_question.png" width="44" height="90" /></div>
<div class="question"><p>The 
	<a href="#" rel="popover" eat-click data-color="darkGrey" show-formula content="laborForceParticipation">labor force participation rate</a> 
	of the group above is 
	<input ngModel="question1Answer" wrong-answer-popover='question1IncorrectAnswerText()' data-color="darkGrey" type="text" size="4"> 
	percent. <br />
	Round the answer to the nearest hundreth.</p></div>
<button class="button-link blue" ng-click="submitAnswer1()" type="button">Next</button>
