<div class="question-area-indicator"><img src="img/indicator_question.png" width="44" height="90" /></div>
<div class="question"><p>The 
	<a href="#" rel="popover" eat-click data-color="darkGrey" show-formula content="laborForceParticipation">labor force participation rate</a> 
	of the group above is 
	<input show-wrong-right data-color="darkGrey" type="text" size="4"> 
	percent. <br />
	Round the answer to the nearest hundreth.</p></div>
<a href="#/level/2/intro" class="button-link blue" type="button">Next</a>
