<div class="level-1-container">
	<div ng-include src="'views/progress-bar.html'"></div>
	
	<div class="profiles">
		<ul>
			<li 
			ng-repeat="profile in profiles" 
			index="{{$index}}"  
			name="{{profile.name}}" 
			description="{{profile.description}}" 
			employment-status="{{profile.employmentStatus}}" 
			draggable="{{profile.active}}" 
			ng-class="{'profile': true, 'active': profile.active}" 
			id="profile-{{$index}}" 
			ng-mouseover="showDetails($event)"
			ng-mouseleave="hideDetails($event)" 
			placement="right">
				<span class="incorrect" ng-show="profile.failedAttempts" >
					{{profile.failedAttempts}}
				</span>



			</li>
		</ul>
	</div>

	<div ng-include src="'views/tree.html'"></div>
	<div ng-include src="'views/dialogue.html'"></div>
</div>

<div id="incorrect-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body">
    <strong>Incorrect</strong>
    <small>Try again</small>
  </div>
</div>