<div class="overview-container">
	<img src="img/pearson_logo.gif" class="logo" width="92" height="27" alt="Pearson" />
	<h1>Unemployment: <span>Overview</span></h1>
	<p>Throughout this interactive, you will be working as an employee of the Bureau of Labor Statistics (BLS) and will be asked to complete the following tasks: </p>
	<div class="main-overview-level-description recognize"><h2>Level 1: Recognize</h2><p>Determine the employment status of a group of individuals based on their survey responses.</p></div>
	<div class="main-overview-level-description calculate"><h2>Level 2: Calculate</h2><p>Calculate employment statistics using data from Level 1, and determine how these statistics would change in given scenarios.</p></div>
	<div class="main-overview-level-description analyze"><h2>Level 3: Analyze</h2><p>Analyze trends and changes in U.S. employment data over time.</p></div>
	<div class="main-overview-level-description compare"><h2>Level 4: Compare</h2><p>Analyze trends and changes in U.S. employment data over time.</p></div>
	<a href="#/level/1/intro" class="button-link blue" type="button">Next</a>
</div>