<div class="main-header">
	<h1>Unemployment</h1>
	<div class="score-container">
		<span class="score-label">Level Score</span>
		<span class="score">100%</span>
	</div>
	<div class="progress-bar-container">
		<span class="progress-bar-label">Progress</span>
		<img src="img/progress-bar_bg.png" class="progress-bar" width="304" height="30" style="width:304px; height:30px;" alt="Progress Bar" />
		<img src="img/progress-bar_1.png" class="prog-bar-level-icon level-icon-1" style="width:22px; height:22px;" width="22" height="22" style="width:22px; hieght:22px;" alt="Level 1" />
		<img src="img/progress-bar_2.png" class="prog-bar-level-icon level-icon-2" style="width:22px; height:22px;" width="22" height="22" style="width:22px; hieght:22px;" alt="Level 2" />
		<img src="img/progress-bar_3.png" class="prog-bar-level-icon level-icon-3" style="width:22px; height:22px;" width="22" height="22" style="width:22px; hieght:22px;" alt="Level 3" />
		<img src="img/progress-bar_4.png" class="prog-bar-level-icon level-icon-4" style="width:22px; height:22px;" width="22" height="22" style="width:22px; hieght:22px;" alt="Level 4" />
	</div>
	<img src="img/pearson_logo.gif" class="logo" width="92" height="27" style="width:92px; height:27px;" alt="Pearson" />
</div>