<div class="intro-container clearfix">
<img src="img/pearson_logo.gif" class="logo" width="92" height="27" alt="Pearson" />
<h1>Unemployment: <span>Are you employed?</span></h1>
<div class="column">
	<div class="image-container"><img src="img/intro-icon_survey.png" alt="survey" width="172" height="172"></div>
	Each month, the Bureau of Labor Statistics (BLS), a unit of the U.S. Department of Labor, conducts a survey of households known as the Current Population Survey.
</div>
<div class="column">
	<div class="image-container"><img src="img/intro-icon_labor.png" alt="labor" width="172" height="172"></div>
	The survey's goal is to provide the data necessary to effectively analyze the labor characteristics of the United States population as well as the health of its economy.
</div>
<div class="column last-column">
	<div class="image-container"><img src="img/intro-icon_statistics.png" alt="statistics" width="172" height="172"></div>
	Each month, the BLS releases reports summarizing the finding of the Current Population Survey. The statistics included in these reports, particularly the unemployment rate, receive widespread media coverage.
</div>
<a href="#/overview" class="button-link blue" type="button">Next</a>
</div>