MAIN POPOVER INCLUDCE

<div class="incorrect-popover red">
	<div class="popover-inner">
		<img src="img/indicator_alert.png" class="alert-icon" width="44" height="45" />
		<div class="popover-content">
			{{incorrectPopoverContent}}
		</div>
	</div>
</div>

<div class="popover correct-popover green">
	<div class="popover-inner">
		<img src="img/indicator_alert.png" class="alert-icon" width="44" height="45" />
		<div class="popover-content">
			{{correctPopoverContent}}
		</div>
	</div>
</div>

<div class="popover instruction-popover grey">
	<div class="popover-inner">
		<img src="img/indicator_alert.png" class="alert-icon" width="44" height="45" />
		<div class="popover-content">
			{{intructionPopoverContent}}
		</div>
	</div>
</div>