<div class="custom-popover incorrect-popover" content="incorrectPopoverContent" show-event="showIncorrectPopover">
	<img src="img/popover-incorrect-icon.png" class="alert-icon" width="44" height="45" />
	<div class="popover-content">
		<h4>Incorrect.</h4>
		<div>{{incorrectPopoverContent}}</div>
	</div>
</div>

<div class="custom-popover correct-popover" content="correctPopoverContent" show-event="showCorrectPopover">
	<img src="img/popover-correct-icon.png" class="alert-icon" width="44" height="45" />
	<div class="popover-content">
		<h4>Correct.</h4>
		<div>{{correctPopoverContent}}</div>
	</div>
</div>

<div class="custom-popover instruction-popover" content="instructionPopoverContent" show-event="showInstructionPopover">
	<img src="img/popover-alert-icon.png" class="alert-icon" width="44" height="45" />
	<div class="popover-content">
		<div>{{intructionPopoverContent}}</div>
	</div>
</div>